{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "emotion",
    "@babel/plug in-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel"
  ]
}