body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, "PT Serif", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
Form fields on mobile needs a minimum font size of to prevent
 zoom on focus.
 Set the width of input type file to prevent the page on mobile
 to overflow and add a scrollbar
 */
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}
